<div class="container">
  <header>
    <nav class="nav-header flex">
      <div class="logo-container flex">
        <a href="./" class="logo">
          <svg width="24" height="24" aria-label="Логотип сайта Filmoteka">
            <use class="icon-film" href="./images/sprite.svg#icon-film"></use>
          </svg>
          <span class="logo-text">Filmoteka</span>
        </a>
      </div>
      <ul class="header-links flex">
        <li class="header-link-home current-page"><a>Home</a></li>
        <li><a>my library</a></li>
      </ul>
    </nav>
    <form class="search-form" id="search-form">
      <input
        class="search"
        type="text"
        name="searchQuery"
        autocomplete="off"
        placeholder="Поиск фильмов"
      />
    </form>

    <!-- Путь к изображениям из HTML-фрагмента такой, как из файла index.html -->
    <!-- <img src="images/demo.jpg" alt="" width="320" /> -->
  </header>
</div>
