header {
  padding: 40px 20px 92px 20px;
  background-image: linear-gradient($header-shadow-color 0%, $header-shadow-color 100%),
    url('../images/header-320.jpg');
  background-color: $title-text-color;
  background-size: cover;
  background-repeat: no-repeat;

  @media screen and (min-width: 768px) {
    padding: 45px 32px 80px 32px;
    background-image: linear-gradient($header-shadow-color 0%, $header-shadow-color 100%),
      url('../images/header-768.jpg');
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient($header-shadow-color 0%, $header-shadow-color 100%),
      url('../images/header-1024.jpg');
  }
}

.flex {
  display: flex;
}

.nav-header {
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 24px;
}

.logo-text {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline-block;
    align-items: center;

    margin-left: 8px;
    font-weight: 500;
    font-size: 30px;
  }
  @media screen and (min-width: 1024px) {
    margin-left: 10px;
  }
}

.logo-container {
  align-items: baseline;
}

.current-page {
  border-bottom: 3px solid $accent-text-color;
}

.header-links {
  text-transform: uppercase;
  margin-left: auto;
}

.header-link-home {
  margin-right: 40px;
}

.search-form {
  margin-top: 54px;

  @media screen and (min-width: 768px) {
    margin-top: 40px;
    width: 336px;
    margin-left: auto;
    margin-right: auto;
  }
}

.search {
  display: inline-block;
  position: relative;
  height: 20px;
  width: 100%;
  background-color: transparent;
  border-color: transparent;
  border-bottom: 0.5px solid $header-text-color;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

.search::placeholder {
  color: $footer-background-color;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.143;
}

.search-form::after {
  content: '';
  display: inline-block;
  width: 12px;
  height: 12px;
  position: absolute;
  margin-left: -12px;
  margin-top: 5px;
  align-items: flex-end;
  background-image: url('../images/header-search.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.header-buttons {
  display: none;
}

.header-buttons-list {
  justify-content: center;
  margin-top: 60px;
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    margin-top: 48px;
  }
}

.btn button {
  width: 130px;
  height: 44px;
  text-transform: uppercase;
  line-height: 1.333;
  color: $header-text-color;
  background-color: transparent;
  border: 1px solid $header-text-color;
  border-radius: 5px;
  @media screen and (min-width: 768px) {
    width: 152px;
  }
  @media screen and (min-width: 768px) {
    width: 157px;
    height: 42px;
  }
}

.btn-watched {
  margin-right: 20px;
  @media screen and (min-width: 768px) {
    margin-right: 32px;
  }
  @media screen and (min-width: 1024px) {
    margin-right: 16px;
  }
}
